<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
</head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>AcmeCo Receiving</h1>
                <p class="lead">We get stuff.</p>
            </div>
            
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        @{ var className = (ViewBag.Section == "Vendors") ? "active" : ""; }
                        <a href="~/Vendor" class="list-group-item @className">Vendors</a>
                        @{ className = (ViewBag.Section == "Parts") ? "active" : ""; }
                        <a href="~/Part" class="list-group-item @className">Parts</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-9">
                    @RenderBody()
                </div>

            </div>
        </div>        


        @RenderSection("scripts", required: false)
    </body>
</html>
