@model IEnumerable<receivingAppDotNet.Models.Part>

@{
    ViewBag.Section = "Parts";
    ViewBag.Title = "Parts";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="currentParts">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    
                    @using (Html.BeginForm("Delete", "Part"))
                    {
                        <input type="hidden" name="id" value="@item.Id"/>
                        <a class="deletePartLink" href="#">Delete</a>
                    }
                </td>
            </tr>
        }

    </table>   
</div>


<p>
    <a id="showDiscontinuedParts" href="#" onclick="showDiscontinuedParts()">Show Discontinued Parts</a>
    <a id="hideDiscontinuedParts" href="#" onclick="hideDiscontinuedParts()" style="display: none;">Hide Discontinued Parts</a>
</p>

<div id="discontinuedParts">
    
</div>

<div style="display: none;">
    <div id="dialog-confirm" title="Delete this item?">
        <p>Delete this item?</p>
    </div>    
</div>

<script>
    
    // javascript called from inline in a link
    showDiscontinuedParts = function () {

        // demo - show them what 'this' means here

        $('#showDiscontinuedParts').hide();
        $('#hideDiscontinuedParts').show();

        $('#discontinuedParts').load("@Url.Action("DiscontinuedParts")");

        return false;
    };

    hideDiscontinuedParts = function() {
        $('#showDiscontinuedParts').show();
        $('#hideDiscontinuedParts').hide();

        $('#discontinuedParts').html('');

        return false;
    };


    // javascript called via an event
    $('.deletePartLink').on('click', function (){

        // demo - show them what 'this' means here

        var form = $(this).parents('form');

        $("#dialog-confirm").dialog({
            resizable: false,
            height: 200,
            modal: true,
            buttons: {
                "Delete this item?": function () {
                    $(this).dialog("close");
                    form.submit();
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        return false;
    });
</script>